/**********************/
/*      CONTAINER     */
/**********************/
.comic-card-container {
  margin-top: 40px;
  display: flex;
  position: relative;
}

.comic-card-content {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/**********************/
/*        IMG         */
/**********************/

.comic-card-content img {
  height: 500px;
  width: 350px;
}

/**********************/
/*        TEXT        */
/**********************/

.comic-card-content span {
  font-size: 26px;
  font-weight: bold;
  max-width: 350px;
}

/**********************/
/*     RESPONSIVE     */
/**********************/

/* Tablette landskape */
@media only screen and (max-width: 1350px) {
  .comic-card-container {
    margin-left: 5%;
    margin-right: 5%;
  }
}

/* Tablette */
@media only screen and (max-width: 1024px) {
}

/* Téléphone */
@media only screen and (max-width: 768px) {
  .comic-card-content img {
    width: 320px;
  }

  .comic-card-content span {
    font-size: 26px;
    max-width: 320px;
  }
}
