/**********************/
/*      CONTAINER     */
/**********************/

.character-card-container {
  display: flex;
  flex-direction: column;
  flex: 1 1 18%;
  height: 300px;
  color: white;
  background-color: var(--dark-background-color);
  transition: background-color 0.1s linear;
  clip-path: polygon(0 0, 100% 0, 100% 96%, 95% 100%, 0 100%);
  cursor: pointer;
}

.character-card-container:hover {
  background-color: var(--red-marvel);
}

/**********************/
/*        IMG         */
/**********************/

.character-img {
  height: 180px;
  width: 100%;
  object-fit: cover;
  border-bottom: 5px solid var(--red-marvel);
}

/**********************/
/*        TEXT        */
/**********************/
.character-name {
  padding: 15px;
  font-weight: 600;
  text-overflow: ellipsis;
}

/**********************/
/*     RESPONSIVE     */
/**********************/

/* Tablette landskape */
@media only screen and (min-width: 1024px) {
}

/* Tablette */
@media only screen and (max-width: 1024px) {
  .character-card-container {
    gap: 30px;
    flex-basis: 30%;
  }
}

/* Téléphone */
@media only screen and (max-width: 768px) {
  .character-card-container {
    gap: 30px;
    flex-basis: 40%;
  }
}
