/**********************/
/*      CONTAINER     */
/**********************/

/**********************/
/*        IMG         */
/**********************/
.character-infos img {
  width: 100vw;
  height: 400px;
  object-fit: cover;
}
/**********************/
/*        TEXT        */
/**********************/
.character-infos p {
  color: white;
  position: absolute;
  top: 400px;
  font-size: 42px;
  font-weight: bold;
}
/**********************/
/*     RESPONSIVE     */
/**********************/

/* Tablette landskape */
@media only screen and (max-width: 1350px) {
}

/* Tablette */
@media only screen and (max-width: 1024px) {
}

/* Téléphone */
@media only screen and (max-width: 768px) {
}
