/**********************/
/*      CONTAINER     */
/**********************/

.characters-container {
  min-height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.characters-content {
  background-color: pink;
  max-width: 1240px;
}

.search-bar {
  width: calc(100vw - 20px);
  height: 70px;
  border-top: 1px solid #393939;
  border-bottom: 1px solid #393939;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--dark-background-color);
}

/**********************/
/*       INPUT        */
/**********************/

.search-bar input {
  padding: 10px;
  width: 600px;
  border-radius: 15px;
  background-color: #e9ebf0;
  border: none;
}
.search-bar input:focus {
  outline-color: var(--red-marvel);
}
/**********************/
/*     RESPONSIVE     */
/**********************/

/* Tablette landskape */
@media only screen and (min-width: 1024px) {
  .characters-content {
    background-color: pink;
    width: 80%;
  }
}

/* Tablette */
@media only screen and (max-width: 1024px) {
  .search-bar input {
    width: 60%;
  }
  .characters-content {
    background-color: pink;
    width: 80%;
  }
}

/* Téléphone */
@media only screen and (max-width: 768px) {
  .search-bar input {
    padding: 13px;
    width: 60%;
  }

  .characters-content {
    background-color: pink;
    width: 90%;
  }
}
