/**********************/
/*      CONTAINER     */
/**********************/

.characters-container {
  min-height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100vw;
}

.characters-content {
  max-width: 1240px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.pagination {
  display: flex;
  justify-content: space-between;
  gap: 80px;
  margin: 30px 0;
  z-index: 10;
}

.search-bar {
  max-width: 100vw;
  width: 100%;
  height: 70px;
  border-top: 1px solid #393939;
  border-bottom: 1px solid #393939;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--dark-background-color);
}

.loading-phone-img {
  display: none;
}

.loading-img {
  margin-top: 30vh;
}

.loading-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  position: absolute;
  top: 151px;
}

/**********************/
/*       INPUT        */
/**********************/

.search-bar input {
  padding: 10px;
  width: 600px;
  border-radius: 15px;
  background-color: #e9ebf0;
  border: none;
}

.search-bar input:focus {
  outline-color: var(--red-marvel);
}

/**********************/
/*        TEXT        */
/**********************/

.next-page-text {
  cursor: pointer;
}

.next-page-text:hover {
  color: var(--red-marvel);
}

.loading-text {
  font-weight: bold;
}

/**********************/
/*     RESPONSIVE     */
/**********************/

/* Tablette landskape */
@media only screen and (max-width: 1350px) {
  .characters-content {
    width: 90%;
  }
}

/* Tablette */
@media only screen and (max-width: 1024px) {
  .search-bar input {
    width: 60%;
  }
  .next-page-text:hover {
    color: black;
  }
}

/* Téléphone */
@media only screen and (max-width: 768px) {
  .search-bar input {
    padding: 13px;
    width: 60%;
  }

  .loading-phone-img {
    display: block;
    width: 100vw;
    height: calc(100vh - 90px);
  }

  .loading-img {
    display: none;
  }

  .loading-text {
    position: absolute;
    top: 20%;
    font-size: 22px;
  }
}
