.join-container {
  min-height: calc(100vh - 80px);
  background-image: url("../assets//img/blue-background.webp");
  display: flex;
  justify-content: center;
}

.join-content {
  width: 500px;
  display: flex;
  background-color: white;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  border-radius: 20px;
  margin-top: 15vh;
  gap: 30px;
}

.swipe-join {
  font-size: 14px;
  color: var(--red-marvel);
  cursor: pointer;
  text-decoration: underline;
  padding: 10px;
}

/*****************/
/* FORM FOR BOTH */
/*****************/

.form-join {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
}

/**********************/
/*       INPUT        */
/**********************/

.form-join input {
  padding: 15px;
  border: none;
  background-color: #e9ebf0;
  border-radius: 5px;
  width: 300px;
}

/**********************/
/*       BUTTON       */
/**********************/

.form-join .join-submit {
  color: white;
  background-color: var(--red-marvel);
  padding: 15px;
  border-radius: 30px;
  width: 330px;
}

/**********************/
/*        TEXT        */
/**********************/

.error-join {
  color: red;
  font-size: 14px;
}

/**********************/
/*     RESPONSIVE     */
/**********************/

/* Tablette */
@media only screen and (max-width: 1024px) {
}

/* Téléphone */
@media only screen and (max-width: 768px) {
  .join-content {
    width: 325px;
  }
  .form-join input {
    width: 250px;
  }
}
