.hamburger-container {
  display: none;
  flex-direction: column;
}

.hamburger-content {
  display: flex;
  flex-direction: column;
  width: 100vw;
  padding-top: 10px;
  padding-bottom: 10px;
  opacity: 0;
  background-color: var(--dark-background-color);
  position: fixed;
  top: 80px;
  left: 0;
  transform: translateX(-100%);
  transition: transform 0.5s ease, opacity 0.5s ease;
  z-index: 1000;
}

.hamburger-content.show {
  opacity: 1;
  transform: translateX(0);
}

.burger {
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hamburger-nav-link {
  text-decoration: none;
  color: white;
}
/****************/
/*     ICON     */
/****************/

.icon-menu {
  display: none;
}

/**********************/
/*     RESPONSIVE     */
/**********************/

/* Tablette */
@media only screen and (max-width: 1024px) {
  .icon-menu {
    display: block;
  }
  .hamburger-container {
    display: flex;
  }
}

/* Téléphone */
@media only screen and (max-width: 768px) {
}
