.hamburger-container {
  display: none;
  flex-direction: column;
}

.hamburger-content {
  display: none;
  flex-direction: column;
  width: 100vw;
  padding-top: 10px;
  padding-bottom: 10px;
}

.burger {
  padding: 15px;
}

/****************/
/*     ICON     */
/****************/

.icon-menu {
  display: none;
}

/**********************/
/*     RESPONSIVE     */
/**********************/

/* Tablette */
@media only screen and (max-width: 1024px) {
  .icon-menu {
    display: block;
  }
  .hamburger-container {
    display: flex;
  }

  .hamburger-content {
    display: flex;
  }
}

/* Téléphone */
@media only screen and (max-width: 768px) {
}
