/**********************/
/*      CONTAINER     */
/**********************/
.login-container {
  width: 100%;
}

.login-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

/**********************/
/*        TEXT        */
/**********************/

.login-content h4 {
  font-weight: bold;
  font-size: 32px;
  margin-top: 10px;
}
